:root {
  --first-font: "Amsterdam";
  --second-font: "Quicksand";
  --font-size: 16px;
  --purple: #f8f8f8;
  --yellow: #1a1616;
  --pink: #ed25b1;
}

* {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
