.title-results {
  color: var(--yellow);
  font-size: 2.5rem;
  text-align: center;
  margin: 3rem 0;
}

.text-results {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: white;
  width: 80vw;
  margin: 0 auto;
  box-shadow: 6px 6px 0 1px rgba(248, 231, 28, 1);
}

.titles-text-results {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

.diagram {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.number-title {
  width: 3rem;
  height: 3rem;
  background-color: var(--purple);
  border-radius: 50%;
  box-shadow: 6px 6px 0 1px rgba(248, 231, 28, 1);
  margin-right: 2rem;
  display: flex;
  justify-content: center;
}

.entreprise {
  display: flex;
  align-items: center;
}

.entreprise-results {
  width: 30%;
  background-color: rgb(128, 244, 244);
  width: max-content;
  padding: 0.4rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.tick {
  height: 2.5rem;
  padding-left: 2rem;
}

.text {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 3rem;
}
