@font-face {
  font-family: "Broken Console Bold";
  src: url("../assets/fonts/Broken-Console-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Puzzle-Tale-Pixel-BG";
  src: url("../assets/fonts/Puzzle-Tale-Pixel-BG.ttf") format("truetype");
}

@font-face {
  font-family: "Puzzle-Tale-Pixel-Regular";
  src: url("../assets/fonts/Puzzle-Tale-Pixel-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../assets/fonts/open-dyslexic.ttf") format("truetype");
}

@font-face {
  font-family: "PixappInter-Bg48";
  src: url("../assets/fonts/PixappInter-Bg48.ttf") format("truetype");
}
